.header {
    display: inline-block;
    width: 100%;
    height: 15%;
    color: #A5c8e1;
    background-color: #43393e;
    /* background-color: #1B2631; */
    border-top: 1px solid #000;
}
.body {
    height: 85% -1px;
}
.leftside {
    background-color: #43393e;
    width: 5%;
    border-left: 1px solid #000;
}
.main{
    width: 95% -1px;
}