body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

/* Шапка */
.header {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.title {
    font-size: 2em;
    cursor: pointer;
    margin-right: auto;
}

.profile-button {
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
}

.profile-menu {
    position: absolute;
    top: 50px;
    right: 8px;
    border-radius: 5px;
    z-index: 1000;
    border: 1px solid black;
}

.profile-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.profile-menu button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Контейнер для сайдбара и контента */
.main-container {
    display: flex;
    /* Располагаем сайдбар и контент в один ряд */
    height: 100vh;
    /* Высота на всю страницу */
    padding-top: 60px;
    /* Отступ для шапки */
}

/* Сайдбар */
.sidebar {
    width: 250px;
    border-right: 1px solid black;
    transition: width 0.3s ease;
    overflow-y: auto;
    height: calc(100vh - 60px);
    position: fixed;
    left: 0;
    top: 60px;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .category-header span,
.sidebar.collapsed .submenu span {
    display: none;
}

.sidebar.collapsed .category-header i.fa-chevron-down {
    display: none;
}

.sidebar .category-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid black;
}

.sidebar .category-header i {
    margin-right: 10px;
}

.sidebar .category-header .fa-chevron-down {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.sidebar .category-header.active .fa-chevron-down {
    transform: rotate(180deg);
}

.sidebar .submenu {
    margin-left: 20px;
    display: none;
}

.sidebar .submenu li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar .submenu li:last-child {
    border-bottom: none;
}

.sidebar .submenu li i {
    margin-right: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 250px;
    height: calc(100vh - 60px);
    transition: margin-left 0.3s ease;
}

.content.collapsed {
    margin-left: 60px;
}